.fotocabecera-ciudades {
  height: 420px;
  background: url('../images/ciudad-invisible-otavia.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
    .fotocabecera-text-amarillo {
      width:100%;
      height: 210px;
      color:#fff;
      background-color:rgba(225,174,119,.85);
  }
}

.rombo{
  background: url('../images/rombo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 190px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  z-index: auto;
}



.cover {
  object-fit: cover;
  /* Small */
  @media(max-width:767px){
      height: 250px;
  }
}

.titulo {
  padding-left: 280px;
  vertical-align: baseline;
}

.subtitulo {
  padding-left: 280px;
}

.container-adapt {
    margin: auto;
    margin-top: 60px;
    width:960px;
    height:800px;
    /* Small */
    @media(max-width:991px){
      width: 100%;
    }
  }

.imagen-der-trabajo-ciudades{
  background: url('../images/ciudad-invisible-valdrada-magazine.jpg');
  width: 640px;
  height: 200px;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagen-izq-trabajo-ciudades{
  background: url('../images/ciudad-invisible-otavia-magazine.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 500px;

}

.text-trabajo{
  margin-top: 20px;
  width: 640px;
  height: 280px;
  background-color: #ECEAE8;
  float: right;
}

.text-trabajo-edit{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-foot-primera-ciudades{
  background: url('../images/ciudad-invisible-valdrada.jpg');
  margin-top: 20px;
  width: 317px;
  height: 280px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.imagen-foot-segunda-ciudades{
  background: url('../images/ciudad-invisible-otavia.jpg');
  margin-top: 20px;
  width: 317px;
  height: 280px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imagen-foot-tercera-ciudades{
  background: url('../images/ciudad-invisible-zobeida.jpg');
  margin-top: 20px;
  width: 317px;
  height: 280px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
