.fotocabecera-nestle{
  height: 420px;
  background: url('../images/packaging-nestle-diseno.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  margin-top: 183px;
  @media(max-width:991px){
    margin-top: 169px;
  }
    .fotocabecera-text-verde{
      width:100%;
      height: 220px;
      color:#fff;
      background-color:rgba(0,54,63,.85);
  }
}

.rombo{
  background: url('../images/rombo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 190px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  z-index: auto;
}

.titulo {
  padding-left: 280px;
  vertical-align: baseline;
}

.subtitulo {
  padding-left: 280px;
}

.container-adapt {
    margin: auto;
    margin-top: 60px;
    width:960px;
    height:800px;
    /* Small */
    @media(max-width:991px){
      width: 100%;
    }
  }

  .cover {
    object-fit: cover;
    /* Small */
    @media(max-width:767px){
        height: 250px;
    }
  }

  .titulo {
    padding-left: 280px;
    vertical-align: baseline;
  }

  .subtitulo {
    padding-left: 280px;
  }

  .container-adapt {
      margin: auto;
      margin-top: 60px;
      width:960px;
      height:800px;
      /* Small */
      @media(max-width:991px){
        width: 100%;
      }
    }

  .imagen-der-trabajo-nestle{
    background: url('../images/packaging-nestle-caratula.jpg');
    width: 640px;
    height: 200px;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
  }

  .imagen-izq-trabajo-nestle{
    background: url('../images/packaging-nestle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;

  }

  .text-trabajo{
    margin-top: 20px;
    width: 640px;
    height: 280px;
    background-color: #ECEAE8;
    float: right;
  }

  .text-trabajo-edit{
    display: flex;
    align-items: center;
    justify-content: center;
  }
