.container{
  height: 400px;

}
.content-box{
  padding: 0 122px;
  display: inline-block;
}

.fleft {
  float: left;
}

.fright{
  float: right;
}

.col-icono {
  width: 11%;
}

.estiloform{
  padding: 20px;
  margin-top: 30px;
  float: right;
}

.img-pastilla {
  width:100%;
  height: 700px;
  object-fit: cover;
}
