.container{
  height: 400px;

}
.content-box{
  padding: 0 122px;
  display: inline-block;
  width: 100%;

@media (max-width: 400px) {
  padding: 0px 56px;
  }
}

.fleft {
  float: left;
}

.fright{
  float: right;
  padding-left: 30px;
}

.fright-skills{
  float: right;
}

.col-icono {
  padding: 7px;
}

.w50 {
  width: 50%;
}

.display_in_block{
  display: inline-block;
  margin-top: 30px;
  h3{
    margin: 0;
  }
}

.img-pastilla {
  width: 95%;
  object-fit: cover;
  float: left;

@media (max-width: 474px) {
  width:100%;
  }
}
